<% include ../partials/header %>


<div class="container">

	<header class="jumbotron">
		<h1>YelpCamps</h1>
		<p>Search our handpicked campgrounds from around the world!</p>
		<p>
			<a class="btn btn-primary btn-lg" href="/campgrounds/new">Can't find it? Make it!</a>
		</p>
	</header>

	<div class="row">
		<div class="col-12">
            <% if(campgrounds.length > 0) { %>
			<h3>Search results for "<%= query %>"</h3>
            <% } else { %>
            <h3>No search results for "<%= query %>"</h3>
            <% } %>
		</div>
	</div>

	<div class="row text-center campground-flex">
        <% if(campgrounds.length > 0) { %>
		<% campgrounds.forEach(function(campground){ %>
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<img alt="Image not available" src="<%= campground.img %>">
				<div class="caption">
					<h4><%= campground.name %></h4>
				</div>
				<p>
					<a href="/campgrounds/<%= campground.id %>" class="btn btn-primary">More Info</a>
				</p>
			</div>
		</div>
		<% }); %>
        <% } %>
	</div>
	<a href="/">Home</a>

</div>

<% include ../partials/footer %>
